@media(max-width:1004px) {

    .cabecalho {
      flex-direction: column;
    }
  
    .cabecalho nav {
      flex-wrap: nowrap;
      width: 80%;
    }
  
    .cabecalho a {
      font-size: 2.6em;
    }
  }